body {
  overflow-x: hidden !important;
}

.App {
  text-align: center;
}

.App-logo {
  width: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box-shadow {
  background-color: #084177;
}
.active {
  color: rgba(0, 123, 255, 0.6);
  margin: 0px;
}
.confirm {
  color: #d5c455;
  margin: 0px;
}
.recover {
  color: rgba(40, 167, 69, 0.6);
  margin: 0px;
}
.death {
  color: rgba(255, 7, 58, 0.6);
  margin: 0px;
}
.box-a {
  border-radius: 10px;
  background-color: rgba(0, 123, 255, 0.0627451);
  padding: 15px;
}
.box-c {
  border-radius: 10px;
  background-color: rgba(40, 167, 69, 0.12549);
  padding: 15px;
}
.box-d {
  border-radius: 10px;
  background-color: rgba(255, 7, 58, 0.12549);
  padding: 15px;
}
.box-b {
  border-radius: 10px;
  background-color: #eee;
  padding: 15px;
}
.col-lg-3 {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}
.table-height,
.dist-height {
  height: 300px;
  overflow-y: scroll;
}
.dist-height {
  height: 450px;
  overflow-y: scroll;
  width: 100%;
  min-width: 400px;
}
.position {
  position: absolute;
}
.search-sec {
  display: flex;
  justify-content: space-between;
}

/********************************************/
#search-container {
  display: flex;
  align-items: center;
}

#search-container input {
  color: gray;
  outline: none;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  font-size: 1.4rem;
  background: url("./images/search.png") no-repeat #eee;
  background-position: 20px center;
  background-size: 20px 20px;
  padding: 5px 5px 5px 50px;
  width: 100%;
}

#search-container input::placeholder {
  color: gray;
  font-weight: bold;
  text-align: left;
}
.sticky th {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media screen and (max-width: 900px) {
  .position {
    position: relative !important;
  }
}
@media screen and (max-width: 670px) {
  .box-a p,
  .box-c p,
  .box-d p,
  .box-b p {
    font-size: 12px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .box-a h3,
  .box-c h3,
  .box-d h3,
  .box-b h3 {
    font-size: 14px;
  }
  .search-sec {
    display: block !important;
  }
  .App-logo {
    width: 80px;
    pointer-events: none;
  }
  .header-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header-text {
    font-size: 18px;
  }
}
.header-text {
  margin: 0px;
  line-height: 45px;
}
.dist-height {
  height: 250px;
  overflow-y: scroll;
  width: 100%;
}

.pointer {
  cursor: pointer;
   
}
path[fill='#eeeeee'] {
  display: none !important
}
/* path[fill^='none'] {
  stroke-width:0px;
} */